In [13]:
weekday = input("Enter is the weekday:")
if weekday == "Monday":
    print(weekday + " is Weekday")
elif weekday =="Tuesday":
    print(weekday + " is Weekday")
elif weekday == "Wedensday":
    print(weekday + " is Weekday")
elif weekday == "Thursday":
    print(weekday + " is Weekday")
else:
    print(weekday + " is Weekend")

monday is Weekend

In [12]:
num = int(input("Enter your any number"))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

5 is a prime number

In [175]:
me = (1, 4.0, 'home')

In [176]:
type(me)

tuple

In [82]:
i = [1,4, 8]
type(i)

list

In [184]:
#na = 1000
total = 0
for a in range(0, 1001):
    total = total+a
print(total)

500500

In [43]:
from platform import python_version
print(python_version())

3.8.5

In [112]:
num = int(input('How many numbers: '))
total_sum = 0
for n in range(num):
    numbers = float(input('Enter number : '))
    total_sum += numbers
    
    avg = total_sum/num
print('Average of ', num, ' numbers is :', avg)

Average of  2  numbers is : 26.0

In [171]:
numb = int(input("Enter the number to use and get the average of 100:"))
for a in range(0,101):
    total = a / numb
print("The average of 100 with", numb, "is :", total)

The average of 100 with 33 is 3.0303030303030303

In [265]:
no = int(input("Enter the number: "))
to = 0
for i in range(0,no,1):
     if(i % 2 !=0):
        to = to+i
        print(i)
print("The sum of odd number less than", no, "is", to)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
The sum of odd number less than 50 is 625

In [258]:
n = 1000
sum = 0
for num in range(0, n+1, 1):
   # if num % 2 !=0
       # sum = sum+num
print("SUM of first ", n, "numbers is: ", num )

IndentationError: expected an indented block (<ipython-input-258-fed067b19362>, line 6)

In [252]:
n = 10
a =0
for nu in range(n):
    if(nu % 2 !=0):
        print(nu)
        a = (a+nu)
print(a)

1
3
5
7
9
25

In [266]:
tuple1 = ("green", "red", "blue") # Create a tuple
print(tuple1)

('green', 'red', 'blue')

In [268]:
tuple2 = tuple([7, 1, 2, 23, 4, 5]) # Create a tuple from a list
print(tuple2)

(7, 1, 2, 23, 4, 5)